<div class="section home-intro" id="about">
    <div class="container w-container">
      <div class="section-title-wrapper how-does-it-work">
        <h3 class="section-title">What I Do</h3>
        <div class="section-subtitle">Some of my talents.</div>
      </div>
    </div>
    <div class="features-wrapper">
      <div class="features-row w-row">
        <div class="features-column w-col w-col-4">
          <div class="feature-block" data-aos="fade-in" data-aos-duration="2000">
            <div class="feature-screenshot-block"></div>
            <div class="feature-title">It'll Be Fast</div>
            <p class="feature-paragraph">
              I understand the importance of time. I will deliver your website that works fast, with lightning speed.
            </p>
          </div>
        </div>
        <div class="features-column w-col w-col-4">
          <div class="feature-block _2" data-aos="fade-in" data-aos-duration="2000">
            <div class="feature-screenshot-block _2"></div>
            <div class="feature-title">It'll Be Clean</div>
            <p class="feature-paragraph">
              I keep the code clean and professional. That is how I deliver quality websites with blazing speed.
            </p>
          </div>
        </div>
        <div class="features-column last w-col w-col-4">
          <div class="feature-block" data-aos="fade-in" data-aos-duration="2000">
            <div class="feature-screenshot-block _3"></div>
            <div class="feature-title">It'll Perform</div>
            <p class="feature-paragraph">
              I implement the latest practices, to give your website the ultimate perfomance and security.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

<div data-w-id="79c15a02-413f-5048-11de-ad55a44e7fac" class="section video">
  <div class="container w-container">
    <div class="text-image-wrapper">
      <div class="text-block" data-aos="fade-right" data-aos-offset="100" data-aos-delay="50" data-aos-duration="2000">
        <div class="left-title-wrapper">
          <div class="section-subtitle"></div>
          <h3 class="section-title">
            How I develop
          </h3>
        </div>
        <p data-aos="fade-right">
            At the heart of my approach is my dedication to custom web design, development and strategy.<br />
          However I will build a website on the platform that best suits your 
          businesses needs, so that you will have full control over your website.
          
        </p>
        <div class="cta-button-wrapper">
          <div class="small-cta-title">
            Find out which platform is best for you.
          </div>
          <a href="/contact" class="button w-button">Schedule Call</a>
        </div>
      </div>
      <div class="video-wrapper"><div class="video-lightbox-image-block">
            <img src="/images/logos.png" alt="" class="fake-player"/></div></a>
      </div>
    </div>
  </div>
</div>