<div class="new-features-block">
      <h2 class="hero-info-title">Need an <span class="highlight-title">agency</span>,<br>but without <span class="highlight-title">agency costs?</span></h2>
      <div class="hero-info-subtitle">
          I work together with a team of freelancers. Each team member specializes in a different part of the process.
        </div>
        <a href="/contact" class="button cta-button push-down w-inline-block"><div>Get In Touch</div></a>
      <div class="block-square _2"></div>
      <div class="block-square"></div>
      <div class="block-square _3"></div>
  </div>