<div class="hero-info-block">
    <h2 class="hero-info-title">
      30 minutes. <span class="highlight-title">Free Time.</span>
    </h2>
    <div class="hero-info-subtitle">
      Schedule a free consultaion to learn how I can help you grow your business with a brand new website.
    </div>
    <a href="#contact" class="button cta-button push-down w-inline-block"
      ><div>Get In Touch</div></a
    >
    <div class="block-square"></div>
    <div class="block-square _2"></div>
    <div class="block-square _3"></div>
    <div class="hero-info-right">
        <img src="images/consulting3.svg">
    </div>
  </div>