<div data-w-id="7fe97f4e-4d47-c7e5-f5c5-a974c727a18c" class="section features-section on-features-page" id="work">
        <div class="section-title-wrapper how-does-it-work">
            <h3 class="section-title">Case Studies</h3>
            <div class="section-subtitle">Some of my recent work.</div>
          </div>
        <div class="container w-container">
          <div class="w-row">
            <div class="text-col-left w-col w-col-6">
                <div class="perspective-screenshot"><div class="perspective-slide w-slide"></div></div>
            </div>
            <div class="text-col-right w-col w-col-6">
                <div class="column-title-wrapper">
                <div class="section-subtitle">Case Study 1</div>
                <h3 class="section-title compettitor">
                  The Chocolate Bar
                </h3>
              </div>
              <p class="paragraph">
                  <span class="highlight-title">The Problem:</span><br /> The Chocolate Bar is a locally owned chocolate, candy, nuts and gift shop.
                  The challenge was, how to take the business to the next level and sell products beyond their brick and mortar store.<br />
                  <span class="highlight-title">The Solution:</span><br />
                  I developed a beautifully designed ecommerce website using wordpress and woocommerce. It is easy to maintain without many employees and has all their products listed online.
              </p>
              <div class="cta-button-wrapper">
                <div class="small-cta-title">
                  Now The Chocolate Bar has a beautiful ecommerce website where customers can checkout their items. 
                </div>
                <a href="https://www.thechocolatebarusa.com/" target="_blank" class="button w-button">View The Chocolate Bar</a>
              </div>
            </div>
          </div>
        </div>

      <div class="container w-container">
          <div class="w-row">
            <div class="text-col-left w-col w-col-6">
                <div class="perspective-screenshot"><div class="perspective-slide _2 w-slide"></div></div>
            </div>
            <div class="text-col-right w-col w-col-6 cases">
                <div class="column-title-wrapper">
                <div class="section-subtitle">Case Study 2</div>
                <h3 class="section-title compettitor">
                  Plaster Vision
                </h3>
              </div>
              <p class="paragraph">
                  <span class="highlight-title">The Problem:</span><br />Plaster Visions is a manufacturer of fine quality architectural mouldings. But in order to show their clients their product they needed to manually send images. The business website was really old and helpfull at all.<br />
                  <span class="highlight-title">The Solution:</span><br />
                  I developed a beautifuly designed website using wordpress. Now they can display all of their products beatufully. And customers can send them questions about any of the items directly from the item page.
              </p>
              <div class="cta-button-wrapper">
                <div class="small-cta-title">
                  Now Plaster Vision has an updated modern online catalog of all their products. 
                </div>
                <a href="http://www.plastervisions.com/" target="_blank" class="button w-button">View Plaster Vision</a>
              </div>
            </div>
          </div>
        </div>
<div class="contact-cta">
    <div class="container w-container">
        <div class="new-features-block">
          <h2 class="hero-info-title">Need an <span class="highlight-title">agency</span>,<br>but without <span class="highlight-title">agency costs?</span></h2>
          <div class="hero-info-subtitle">
              I work together with a team of highly trained freelancers. Each team member specializes in a different part of the process.
            </div>
            <a href="/contact" class="button cta-button push-down w-inline-block"><div>Get In Touch</div></a>
          <div class="block-square _2"></div>
          <div class="block-square"></div>
          <div class="block-square _3"></div>
      </div>
      </div>
</div>


  </div>
  <div class="section bottom-cta-section">
    <div class="container w-container">
        <div class="general-cta-block">
            <div class="cta-title">Get a <strong>FREE</strong> consultaion.</div>
            <div class="section-subtitle">Contact me today for a 30 minute consult.</div>
            <a href="/contact" class="button cta-button green w-button">Schedule Call</a>
        </div>
    </div>
</div>