<section class="section contact-section" id="contact">

    <div class="row form-container">
      <h3>
        Want to work with me?
      </h3>
      <div class="section-subtitle">
          Just fill out the form and I'll be in touch.
        </div>
        <form name="contact" method="POST" data-netlify="true">
            <div class="column">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name *" required>
               <input type="email" class="form-control" id="email" name="email" placeholder="Email *" required>
             </div>
             <div class="column">
                 <input type="text" class="form-control" id="company" name="company" placeholder="Company or organization">
                 <input type="tel" class="form-control" id="tel" name="tel" placeholder="Phone Number" required>
              </div>
               <textarea class="form-control" id="message" name="message" placeholder="Tell me about your project, timeline and budget." style="height:150px"></textarea>
              <button type="submit" class="button" id="submit">Send</button>
          </form>
          <div class="success w-form-done">
              <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
          </div>
    </div>

</section>