<div
data-w-id="89fd32fc-bc83-2593-98ad-0abbcaf35690"
class="footer-bottom-section">
<div class="screenshot-slider-wrapper">

<div class="footer">
<div class="container w-container">
  <div class="footer-block-column">
	<div class="footer-cta-title">
	  <strong>Not quite sold</strong> <br />on how a website helps your
	  business?
	</div>
	<a href="#contact" class="button footer-lets-talk w-button"
	  >Let&#x27;s talk!</a
	>
  </div>
  <div class="footer-block-column _2">
	<div class="footer-title">Links</div>
	<a href="/" class="footer-link">Home</a
	><a href="/#about" class="footer-link">About</a
	><a href="/services" class="footer-link">Services</a
	><a href="/work" class="footer-link">Work</a
	><a href="/#process" class="footer-link">Process</a
	><a href="/contact" class="footer-link">Contact</a
	  >
  </div>
  <div class="footer-block-column _3">
	<div class="footer-title"></div>

	
  </div>
  <div class="footer-square"></div>
  <div class="footer-square _2"></div>
  <div class="footer-square _3"></div>
</div>
</div>
</div>
</div>
<footer>
		<p>© 2018 Solomon Daskal. All Rights Reserved.</p>
	</footer>