<div class="hero-dark-block w-hidden-small w-hidden-tiny"></div>
<div class="container w-container">
  <div class="hero-text-block">
    <h1 class="hero-title" data-ix="fade-in-on-load">
      Grow your business with a modern website.
      <span class="highlight-title"></span><br />
    </h1>
    <h2 class="hero-subtitle light" data-ix="fade-in-on-load-2">
        Every business needs a website. The internet is the new yellow pages  for businesses.
    </h2>
  </div>
  <img
    src="images/bg.svg"
    alt=""
    class="hero-illustration"/>

  <div class="form-wrapper dark">
    <div class="sign-up-form-title">Schedule a free consultation</div>
    <div><a href="#contact" class="button w-button">Let's Talk!</a></div>
  </div>
</div>
